body.register {
  background: #eee;

  #password {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #password-confirm {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
